<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper col-12" #swipe>
  <ng-template class="bg-liq" swiperSlide>
    <div class="card-body">
      <div class="header">
        Standart Üyelik
      </div>
      <div class="body">
        <ul>
          <li>Anlık sohbete geçmeden önce en az 2 soru yanıtlaman gerekir.</li>
        </ul>
      </div>
    </div>
    <div class="pricing">
      asdasd
    </div>
  </ng-template>

  <ng-template class="bg-liq" swiperSlide>
    <div class="card-body">
      <div class="header">
        Gelişmiş Üyelik
      </div>
      <div class="body">
        <ul>
          <li>Fotoğrafların chat ekranı açılmadan gösterilecek şekilde ayarlanabilir.
          </li>
          <li>Sesli görüşme seçeneği aktif edilir.</li>
          <li>Soruları geç, chat'e geçelim talebi gönderme.</li>
          <li>Görünmez moduna geçilebilir.</li>
        </ul>
      </div>
    </div>
    <div class="pricing">
      asdasd
    </div>
  </ng-template>

  <ng-template class="bg-liq" swiperSlide>
    <div class="card-body">
      <div class="header">
        Aşırı Gelişmiş Üyelik
      </div>
      <div class="body">
        <ul>
          <li>Gelişmiş Üyelikteki Bütün Özelliklere Ek,</li>
          <li>Görüntülü görüşme seçeneği aktif edilir.</li>
          <li>Chat ekranında fotoğraf paylaşma seçeceği aktif edilir.</li>
          <li>Lokasyon değiştirebilme özelliği aktif edilir. </li>
        </ul>
      </div>
    </div>
    <div class="pricing">
      asdasd
    </div>
  </ng-template>
</swiper>