<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper col-12" #swipe>

  <!-- Standard Subscription -->
  <ng-template class="bg-liq" swiperSlide>
    <div class="card-body">
      <div class="header">
        {{'home.subscription-headers.standard' | translate}}
      </div>
      <div class="body">
        <ul>
          <li>{{'home.subscription-body.standard1' | translate}}</li>
        </ul>
        <div class="pricing-btn">
          <button class="btn btn-sm">{{'home.pricing.free' | translate}}</button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Silver Subscription -->
  <ng-template class="bg-liq" swiperSlide>
    <div class="card-body">
      <div class="header">
        {{'home.subscription-headers.advenced' | translate}}
      </div>
      <div class="body">
        <ul *ngIf="showingPricingId !== 2" class="zoomIn">
          <li>{{'home.subscription-body.advenced1' | translate}}</li>
          <li>{{'home.subscription-body.advenced2' | translate}}</li>
          <li>{{'home.subscription-body.advenced3' | translate}}</li>
          <li>{{'home.subscription-body.advenced4' | translate}}</li>
        </ul>
        <div class="case-pricing" *ngIf="showingPricingId === 2">
          <div class="pricing-info zoomIn">
            <div class="price-case">
              <div class="price-twin price">
                <h4>{{'home.pricing.weekly' | translate}}</h4>
                <div>9.99 ₺</div>
              </div>
              <div class="price-twin price">
                <h4>{{'home.pricing.monthly' | translate}}</h4>
                <div>29.99 ₺</div>
              </div>
            </div>
            <div class="price-case">
              <div class="price price-single">
                <h4>{{'home.pricing.yearly' | translate}}</h4>
                <div>249.99 ₺</div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-btn">
          <button (click)="showingPricingId = showingPricingId === 2 ? 0 : 2" class="btn btn-sm">
            <span *ngIf="showingPricingId !== 2">
              {{'home.pricing.pricing' | translate}}
            </span>
            <span *ngIf="showingPricingId === 2">
              {{'general.close' | translate}}
            </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Gold Subscription -->
  <ng-template class="bg-liq" swiperSlide>
    <div class="card-body">
      <div class="header">
        {{'home.subscription-headers.extremely-advenced' | translate}}
      </div>
      <div class="body">
        <ul *ngIf="showingPricingId !== 3" class="zoomIn">
          <li>{{'home.subscription-body.extAdvenced1' | translate}}</li>
          <li>{{'home.subscription-body.extAdvenced2' | translate}}</li>
          <li>{{'home.subscription-body.extAdvenced3' | translate}}</li>
          <li>{{'home.subscription-body.extAdvenced4' | translate}}</li>
        </ul>
        <div class="case-pricing" *ngIf="showingPricingId === 3">
          <div class="pricing-info zoomIn">
            <div class="price-case">
              <div class="price-twin price">
                <h4>{{'home.pricing.weekly' | translate}}</h4>
                <div>13.99 ₺ </div>
              </div>
              <div class="price-twin price">
                <h4>{{'home.pricing.monthly' | translate}}</h4>
                <div>42.99 ₺ </div>
              </div>
            </div>
            <div class="price-case">
              <div class="price price-single">
                <h4>{{'home.pricing.yearly' | translate}}</h4>
                <div>379.99 ₺</div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-btn">
          <button (click)="showingPricingId = showingPricingId === 3 ? 0 : 3" class="btn btn-sm">
            <span *ngIf="showingPricingId !== 3">
              {{'home.pricing.pricing' | translate}}
            </span>
            <span *ngIf="showingPricingId === 3">
              {{'general.close' | translate}}
            </span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>