@import "~swiper/css";
@import "~swiper/css/effect-cards";

*{
  font-family: Poppins !important;
}

.swiper {
  width: 77vw;
  height: 67vh;
}

.swiper-slide {
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #fdfd78;
}

.swiper-slide:nth-child(2n) {
  background-color: #a0de6e;
}

.swiper-slide:nth-child(3n) {
  background-color: #78b446;
}

.bg-liq {
  box-shadow: -1px 0px 8px -2px grey;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/bg_liq.png);
  background-size: 120%;
}

.card-body {
  height: 100%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .header {
    display: flex;
    justify-content: center;
  }

  .body{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .case-pricing{
      width: 100%;
    }
  }

  ul {
    margin: 0;

    li {
      color: black;
      font-size: 13px;
      padding: 5px;
      margin: 0;
      line-height: 16px;
    }
  }
}

.pricing-btn {
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  justify-content: center;
  padding: 5px 0;
  height: 45vh;
  align-items: flex-end !important;
  -webkit-align-items: flex-end !important;

  button {
    background: black;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
  }
}

.price-case {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  
  .price {
    padding: 10px 15px;
    color: black;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 7px -3px black;
    padding: 10px 0px;
    margin: 0px 5px;
    h4 {
      margin: 5px 0 13px 0;
    }
  }
  
  .price-twin{
    width: 50%;
  }

  .price-single{
    width: 100%;
  }
}


.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  }
  @keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
  } 

@media screen and (min-width: 505px) {
  .swiper {
    width: 55vw !important;
    height: 90vh !important;
  }
}

@media screen and (min-height: 670px) {
  .swiper {
    width: 70vw !important;
    height: 57vh !important;
  }
}

@media screen and (max-height: 540px) {
  li {
    font-size: 12px !important;
  }
}
