@media screen and (max-width: 779px) {
  h1 {
    font-size: 6vw !important;
  }

  .home-icon {
    max-width: 35px !important;
  }

  .text {
    padding-top: 0px !important;
    justify-content: center;

    h3 {
      display: none !important;
    }
  }

  .img {
    text-align: center !important;
  }

  .footer-case {
    .footer-logo {
      img {
        max-height: 30vh !important;
      }
    }

    .frame {
      img {
        max-width: 70vw !important;
      }
    }

    .legal-info {
      a {
        font-size: 0.6rem !important;
      }
    }
  }

  img {
    max-height: 65vh !important;
  }

  .reversed {
    flex-direction: column-reverse;
  }

  .comp {
    display: none;
  }

  .logo-case {
    margin: 0 !important;

    .logo {
      margin: 0;
      margin-top: 13vh !important;
      margin-right: 5vh !important;

      img {
        max-width: 250px !important;
      }
    }
  }

  .bg-liq {
    background-position-y: -14rem;
  }

  .cards {
    justify-content: center !important;

    .content {
      padding: 5px !important;
      height: 85%;
      display: flex;
      align-items: center;
    }

    .title {
      h2 {
        line-height: 20px !important;
      }
    }

    .price {
      h4 {
        font-size: 1.2rem !important;
      }
    }
  }


  .circle{
    width: 40px !important;
    height: 40px !important;
    font-size: 25px !important;
    margin-right: 10px !important;
  }

}

@media screen and (max-width: 1430px) {
  svg {
    width: auto !important;
    height: 115vh !important;
  }
}

@media screen and (max-height: 991px) {
  .navbar-nav {
    text-align: right;

    .nav-link{
      margin-right: 10px !important;
    }
  }
}
