.test-img-op {
  opacity: 0;
  transform: translateY(-450);
}

.top-btn {
  width: 100%;
  height: 100%;
  padding: 20px 17px;
  z-index: 9999999;

  button {
    height: 30px;
    color: #f1df5f;
    background: #78b446;
    border-radius: 11px;
    z-index: 9999999;
  }
}

.sub-title {
  font-weight: 600;
  margin-top: -20px;
  top: -41px;
}


.line-1 {
  position: relative;
  top: 50%;
  width: 10em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.664);
  font-size: 190%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  height: 26px;
  color: #81c04b;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(24) 1s 1 normal both,
    blinkTextCursor 600ms steps(24) infinite normal,
    closeBorder 5s steps(24) 1s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 12em;
  }
}

@keyframes closeBorder {
  from {
    border-right: 2px solid rgba(255, 255, 255, 0.664);
  }

  to {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.404);
  }

  to {
    border-right: none !important;
  }
}
